body {
  margin: 0px;

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
}

div.topic-selector {
  background-color: #7EA2AA;
  width: 400px;
  padding: 10px;

  font-size: 15px;
  color: #303633;
}

div.main {
  background-color: #c9ffee; 
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #303633;
}

div.card {
  width: 400px;
  height: 250px;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 20px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-inner.flipped{
  transform: rotateY(180deg);
}

.card:hover .card-inner{
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding-bottom: 20px;
}


.card-front {
  background-color: #888DA7;
  border: 1px solid #e5e7eb;
  color: #303633;
  text-align: center;
}

.card-back {
  background-color: #888DA7;
  color: #303633;
  transform: rotateY(180deg);
  text-align: center;
}

div.bottom-bar {
  width: 500px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.card-text {
  padding: 30px;
  text-align: center;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #8BE8CB;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.select-all {
  user-select: none;
  width: 67px;
  height: calc(67px/2);
  background-image: linear-gradient(0deg, yellow, green)
}
