<!DOCTYPE html>
<html>
<head>
  <title>Flashcard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">
  </head>
<body>
  <!-- supposed to subject selector  -->
  <div class="topic-selector">    
    <form action="{{url_for('index')}}" method="POST">

      <select name="subject" id="subject" onchange="this.form.submit()">
        {% for subject in all_subjects %}
          <option value="{{subject}}">{{subject}}</option>
        {% endfor %}
      </select>

      <!-- forbidden br train mwhahahahaha -->
      <br>
      <br>

      {% for chapter in chapters %}
        <input type="checkbox" id="{{chapter}}" name="{{chapter}}" class="topic-checkbox">
        <label for="{{chapter}}" class="fuzzy-bubbles-regular hover-underline" style="user-select: none">{{chapter}}</label>
        <br>
        <div style="height: 8px;"></div>
      {% endfor %}

      <div class="fuzzy-bubbles-regular" id="select_all" class="select-all" style="margin-top: 20px; max-width: 56.25px; background-color: #9C7A97; border-radius: 5px; color: aliceblue;">select all</div>
      <input class="fuzzy-bubbles-regular" type="submit" value="submit" style="margin-top: 20px; background-color: #9C7A97; border-radius: 5px; color: aliceblue;">
    </form>
    
  </div>

  <div class="main">
    <h1  class="fuzzy-bubbles-bold">Flashcard</h1>
    <div class="card">
      <div class="card-inner" id="card_inner">
          <div class="card-front" id="card-front">
            <p class="fuzzy-bubbles-regular card-text" id="front_text">card text</p>
          </div>
          <div class="card-back" id="card-back">
            <p class="fuzzy-bubbles-regular card-text" id="back_text">back shots</p>
          </div>
      </div>
    </div>
    <div style="height: 20px;"></div>

    <div class="bottom-bar">
      <button class="fuzzy-bubbles-regular" id="prev" style="background-color: #9C7A97; margin-right: 10px; border-radius: 5px; color: aliceblue;">prev</button>
      <button class="fuzzy-bubbles-regular" id="next" style="background-color: #9C7A97; margin-right: 10px; border-radius: 5px; color: aliceblue;">next</button>
      <button class="fuzzy-bubbles-regular" id="shuffle" style="background-color: #9C7A97; margin-right: 10px; border-radius: 5px; color: aliceblue;">shuffle</button>
    </div>
  </div>

  <!-- bring testables into javascript (as a global constant)-->
  <script>
    let testables = {{ testables | tojson }}
  </script>

  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
