<!DOCTYPE html>
<html>
<head>
  <title>Flashcard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="topic-selector">
    <h2>topic selector</h2>
    <form action="{{url_for('index')}}" method="POST">
      {% for chapter in chapters %}
      <input type="checkbox" id="{{chapter}}" name="{{chapter}}">
      <label for="{{chapter}}">{{chapter}}</label>
      <br>
      <div style="height: 8px;"></div>
      {% endfor %}
      <input type="submit" value="submit" style="margin-top: 20px;">
    </form>
    
  </div>

  <div class="main">
    <h1>Flashcard</h1>
    <div class="card">
      <div class="card-inner">
          <div class="card-front" id="card-front">
            <p id="front_text">card text</p>
          </div>
          <div class="card-back" id="card-back">
            <p id="back_text">back shots</p>
          </div>
      </div>
    </div>
    <div style="height: 20px;"></div>

    <div class="bottom-bar">
      <button id="prev">prev</button>
      <button id="next">next</button>
      <button id="shuffle">shuffle</button>
    </div>
  </div>

  <!-- bring testables into javascript (as a global constant)-->
  <script>
    let testables = {{ testables | tojson }}
  </script>

  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
